:root{
  --varMargem: 5vw;
}

body{
  margin:0;
  background-color: #e7dcf2;
}

header{
  display: flex;
  width:100%;
  max-height: fit-content;
  padding-left: 26%;
}
h1, h2{
  text-align:left;
  margin-left: var(--varMargem);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
 margin-top: 10vh; 
 font-size: 2.7vh;
}
main h2{
  margin-top: 10vh;
}
main p {
  margin: -1vh var(--varMargem) ;
  text-align: justify;
}
nav{
  display: flex;
  margin-top: 1em; 
}
.nav-link{
  margin: 0;
  padding: 0.5em 7.8em;
}
.carrossel {
  display: block;
  height: 40vh;
  width: auto;
  margin: auto;
  margin-top: 20px;
  position: relative;
  
}
.carrossel li {
  list-style : none;
  position: absolute;
}
.carrossel img{
  opacity: 0;
  visibility: hidden;
  width: auto;
  height: 40vh;
  vertical-align: top;
  position: relative;
  left: 10vh;
  top: 5vh;
}
.carrossel p {
  visibility: hidden;
  display: block; 
  position: absolute;
  width: 60vw;
  height: 35vh;
  top:10vh;
  left: 25vw;
  text-align: justify;
}
.carrossel input {
  display: none;
}
.carrossel label{
  background-color: #000; 
  cursor: pointer; 
  display: block; 
  height: 10px;
  position:absolute; 
  width: 10px;
  border-radius: 50%;
  z-index : 10; 
}
.carrossel li:nth-child(1) label{
left: 3vw;
top: 20%;
}
.carrossel li:nth-child(2) label{
left: 3vw;
top: 25%;
}
.carrossel li:nth-child(3) label{
left: 3vw;
top: 30%;
}
.carrossel li:nth-child(4) label{
left: 3vw;
top: 35%;
}
.carrossel li:nth-child(5) label{
left: 3vw;
top:40%;
}
.carrossel li:nth-child(6) label{
left: 3vw;
top: 45%;
}
.carrossel li:nth-child(7) label{
left:3vw;
top: 50%;
}
.carrossel li input:checked ~img {
opacity: 1;
visibility: visible;
z-index: 10;
}
.carrossel li input:checked ~p{
visibility: visible;
}

@media (width:1366px){
  #header-img{
    height: 15vh;
    margin-left: 16%;
    display:block;
  }
  
  .carrossel label{
    background-color: #000; 
    cursor: pointer; 
    display: block; 
    height: 7px;
    position:absolute; 
    width: 7px;
    border-radius: 50%;
    z-index : 10; 
  }

  .carrossel li:nth-child(1) label{
    left: 10px;
    top: 20%;
    }
    
    .carrossel li:nth-child(2) label{
    left: 10px;
    top: 27%;
    }
    .carrossel li:nth-child(3) label{
    left: 10px;
    top: 34%;
    }
    .carrossel li:nth-child(4) label{
    left: 10px;
    top: 41%;
    }
    .carrossel li:nth-child(5) label{
    left: 10px;
    top:48%;
    }
    .carrossel li:nth-child(6) label{
    left: 10px;
    top: 55%;
    }
    .carrossel li:nth-child(7) label{
    left:10px;
    top: 62%;
    }
}