:root{
  --varMargem: 5vw;
}

body{
  margin:0;
  background-color: #e7dcf2;
}

header h1{
  text-align: center;
  font-size: 7em;
  font-family:'Times New Roman', Times, serif;
  color: #000;
 text-shadow: 5px 5px #ba9cd9;
 margin-top: 5vh;
}
h1, h2{
  text-align:left;
  margin-left: var(--varMargem);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
 margin-top: 10vh; 
 font-size: 2.7vh;
}
#secao-imagem{
  height: 37vh;
  background-color: #ba9cd9;
  padding: 5vh;
}
#secao-imagem img{
  height: 37vh;
  position: relative;
  left: 17vw;
}
main p {
  margin:  var(--varMargem) ;
  text-align: justify;
}
.carrossel {
  display: block;
  height: 40vh;
  width: auto;
  margin: auto;
  margin-top: 20px;
  position: relative;
  
}
.carrossel li {
  list-style : none;
  position: absolute;
}
.carrossel img{
  opacity: 0;
  visibility: hidden;
  width: auto;
  height: 40vh;
  vertical-align: top;
  position: relative;
  left: 10vh;
  top: 5vh;
}
.carrossel p {
  visibility: hidden;
  display: block; 
  position: absolute;
  width: 60vw;
  height: 35vh;
  top:2vh;
  left: 25vw;
  text-align: justify;
}
.carrossel input {
  display: none;
} 
.carrossel label{
  background-color: #000; 
  cursor: pointer; 
  display: block; 
  height: 10px;
  position:absolute; 
  width: 10px;
  border-radius: 50%;
  z-index : 10; 
}
.carrossel li:nth-child(1) label{
left: 3vw;
top: 20%;
}
.carrossel li:nth-child(2) label{
left: 3vw;
top: 25%;
}
.carrossel li:nth-child(3) label{
left: 3vw;
top: 30%;
}
.carrossel li:nth-child(4) label{
left: 3vw;
top: 35%;
}
.carrossel li:nth-child(5) label{
left: 3vw;
top:40%;
}
.carrossel li:nth-child(6) label{
left: 3vw;
top: 45%;
}
.carrossel li:nth-child(7) label{
left:3vw;
top: 50%;
}
.carrossel li input:checked ~img {
opacity: 1;
visibility: visible;
z-index: 10;
}
.carrossel li input:checked ~p{
visibility: visible;
}
#secao-albuns{
font-size: medium;
margin-left: var(--varMargem);
margin-top: -5vh;
}

#secao-albuns img{
 width: 10vw;
 height: 10vw;
}
.albuns {
  margin: 0.5em;
  text-align: center;
  display: inline-block;
  width:12vw;
}

#recentes h2{
  font-size: 1.3em;
  margin-top: 10vh;
  margin-left: var(--varMargem);
}

#recentes h3{
  margin-left: var(--varMargem);
  font-weight: normal;
  margin-bottom: 0.8vh;
}

#take-two{
  width: 20vw;
  margin-left: var(--varMargem);
}

#take2{
  display: inline-block;
  margin-bottom: -10vh;
}

footer{
  margin-top: 1vh;
  background-color: #ad82d9;
  padding:1vh;
  text-align: center;
  font-weight: bolder;
  font-size: 1em;
}


@media (width:1366px){
  #header-img{
    height: 15vh;
    margin-left: 16%;
    display:block;
  }
  
  .carrossel label{
    background-color: #000; 
    cursor: pointer; 
    display: block; 
    height: 7px;
    position:absolute; 
    width: 7px;
    border-radius: 50%;
    z-index : 10; 
  }

  .carrossel li:nth-child(1) label{
    left: 10px;
    top: 20%;
    }
    
    .carrossel li:nth-child(2) label{
    left: 10px;
    top: 27%;
    }
    .carrossel li:nth-child(3) label{
    left: 10px;
    top: 34%;
    }
    .carrossel li:nth-child(4) label{
    left: 10px;
    top: 41%;
    }
    .carrossel li:nth-child(5) label{
    left: 10px;
    top:48%;
    }
    .carrossel li:nth-child(6) label{
    left: 10px;
    top: 55%;
    }
    .carrossel li:nth-child(7) label{
    left:10px;
    top: 62%;
    }
}